---
const { frontmatter } = Astro.props;
import { Picture } from "astro:assets";

import { ViewTransitions } from "astro:transitions";
import "../style/global.css";
---

<head>
  <title>Blog | {frontmatter.title}</title>
  <link rel="icon" type="image/svg+xml" href="/LOGO.svg" />
  <ViewTransitions />
</head>
<body class="bg-zinc-900 text-white mt-[4rem]">
  <section class="">
    <div class="mx-auto px-8 max-w-7xl">
      <aside
        class="bg-[#b3c7ff]/10 block right-auto fixed z-10 inset-0 top-[150px] w-[19rem] left-[max(0px,calc(50%-45rem))] pl-8 pr-6 h-[10rem] pt-6 rounded-2xl border-[2px] border-[#b3c7ff] overflow-hidden"
      >
        <h1 class="font-bold">{frontmatter.author}</h1>
      </aside>
      <div class="pl-[18rem] pr-20">
        <a href="/blog">
          <button
            class="rounded-full w-[7rem] bg-zinc-600 hover:bg-white text-white hover:text-black px-5 py-1 mb-6"
          >
            Back</button
          >
        </a>
        <h1 class="font-roboto leading-snug font-bold text-5xl text-balance">
          {frontmatter.title}
        </h1>
        <h2
          class="font-roboto font-medium text-gray-500 italic my-3 text-xl inline-block"
        >
          {frontmatter.pubDate}
        </h2>
        <div class="flex gap-4 mb-7">
          {
            frontmatter.tags.map((tag) => (
              <div class="bg-sky-700/20 px-3 py-1 border-[1.8px] border-sky-400 rounded-full">
                <h2 class="uppercase font-bold text-sky-100"># {tag}</h2>
              </div>
            ))
          }
        </div>
        <article
          class="prose prose-blue lg:prose-lg min-w-full mb-10 text-white"
        >
          <Picture
            src={frontmatter.img}
            alt=""
            formats={["avif", "webp"]}
            inferSize={true}
          />
          <slot />
        </article>
      </div>
    </div>
  </section>
</body>
